name: Docker Image CI

on:
  create:
    tags:
      - V*

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file dockerfile --tag data-lens-org-covid19-patents:latest
    - name: Publish to Registry
      uses: HurricanKai/Publish-Docker-Github-Action@master
      with:
        name: covidgraph/data-lens-org-covid19-patents
        username: ${{ secrets.DZD_DOCKER_USERNAME }}
        password: ${{ secrets.DZD_DOCKER_PASSWORD }}